$serif: 'IBM Plex Serif', serif;
$body: 'Titillium Web', sans-serif;
// Titillium available in 300 and 700 weights

.serif{
	font-family: $serif;
}

body {
  background: #000;
  color: #FFF;
  font-family: $body;
}

a{ transition: all .3s ease-in-out;}

h1,h2,h3,h4,h5,h6{
	font-family: $body;
}

h5{
	text-transform: uppercase;
	font-size: .75rem;
	font-weight:700;
}

.grid-container{
	padding-left:2rem;
	padding-right:2rem;
}

.mainnav{
	display:flex; 
	align-items:center;

	ul{
		height:100%;
		
		li{
			display: flex; 

			a{
				display: flex;
				justify-content: center;
				align-items: center;
				height:100%;
			}
		}
	}

	a{
		color: #FFF; 
		text-transform: uppercase;

		&:hover{color: #89A4A6;}
	}
}

.top-bar {
	background: #000;
	padding:0;
	border-bottom:1px solid #1F1F1F;
	display: flex;
	align-items: stretch;

  ul {
    background: transparent;
  }
}
.top-bar .top-bar-left {
  display: flex;
}

.top-bar-right{display:flex;}

.top-bar-title{
	padding:1rem 2rem;
	margin:0 1rem 0 0;
	border-right: 1px solid #1F1F1F;
}
.buttonholder{display: flex; justify-content: center; align-items:center; border-left: 1px solid #1F1F1F;}

.menu-icon{width:24px; padding: 0 2.5rem; height:100%;}
.menu-icon::after{
	width:24px;
	top:50%;
	left:50%;
	transform: translateX(-50%) translateY(-6px);
	margin:0 auto;
	box-shadow: 0 8px 0 #FFF;
	background: #FFF;
}
.menu-icon:hover::after {
	background: #cacaca;
	box-shadow: 0 8px 0 #cacaca;
}

.ltblackbg{
	background: #090909;
}

.whitebg{
	background: #FFF;
	color: #000;
}

#homehero{
	h1{
		font-size: 2.625rem;
	}
	h5{
		margin-bottom:2rem;
	}
	.grid-x{
		padding: 20% 0;
	}
}

.colophon{
	padding: 1.8rem 0 2.6rem 0;
	font-size: .75rem;
	color: #444444;

	a{
		color: #444444;
		&:hover{color: #999999;}
	}
}

.spotflex{
	display: flex;
}


html.js{
	.logo{
		opacity: 0;
	}
}